@import "config"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1439px)
  .header
    .h1
      width: 500px

    &_desc
      width: 500px
      top: 51vh

@media only screen and (max-width: 1236px)
  .header_img
    display: none

  .header
    .h1
      width: 550px

    &_desc
      width: 550px
      top: 45vh

@media only screen and (max-width: 1200px)
  .header_nav
    ul
      li
        padding: 44px 10px

  .s-rewards_carousel
    &::after
      right: 0

  .s-plans_table
    margin: 0 3% 38px

///* Medium Devices, Desktops */
//@media only screen and (max-width : 992px)
//	/**/
//
//
///* Small Devices, Tablets */
//@media only screen and (max-width : 768px)
//	/**/
//
//
///* Extra Small Devices, Phones */
//@media only screen and (max-width : 480px)
//	/**/
//
//
///* Custom, iPhone Retina */
//@media only screen and (max-width : 320px)
//	/**/
//
//
///*==========  Mobile First  ==========*/
//
///* Custom, iPhone Retina */
//@media only screen and (min-width : 320px)
//	/**/
//
//
///* Extra Small Devices, Phones */
//@media only screen and (min-width : 480px)
//	/**/
//
//
///* Small Devices, Tablets */
//@media only screen and (min-width : 768px)
//	/**/
//
//
///* Medium Devices, Desktops */
//@media only screen and (min-width : 992px)
//	/**/
//
//
///* Large Devices, Wide Screens */
//@media only screen and (min-width : 1200px)
//	/**/
//
